<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book page</title>
</head>
<body>
    <h1>Book list</h1>
        <form action="/add_book" method="POST">
            Название: <input type="text" name="name"><br>
            Автор: <input type="text" name="author"><br>
          Содержание: <input type="text" name="content"><br>
            <input type="submit" value="add">
        </form>


    <h2>List:</h2>
    <table border="1">
        <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Содержание</th>

            </tr>
      {%for book in books %}
         <tr><td>{{book.id}}</td>
             <td>{{book.name}}</td>
             <td>{{book.author}}</td>
             <td>{{book.content}}</td>
        <td>
             <form method="POST" action="/update" style="display: inline">
                <input type="hidden" value="{{ book.id }}" name="id">
                 <input size="10" type="text" value="{{ book.name }}" name="new_name">
                 <input size="10" type="text" value="{{ book.author }}" name="new_author">
                <input size="10" type="text" value="{{ book.content }}" name="new_content">
                <input type="submit" value="update">
             </form>
        </td>
             <td>
             <form method="post" action="/delete" style="display: inline">
                 <input type="hidden" value="{{ book.id }}" name="id">
                 <input size="10" type="submit" value="Delete">
             </form>
             </td>

       {% endfor %}

     </table>
</body>
</html>